.global-wrapper {
  position: relative;
  height: 100%;
  padding: 1.5rem 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  padding-top: 0;
}
