.global-wrapper {
    height: 100%;
    justify-content: center;
}

.content {
    background-color: var(--form-bg-clr);
    border-radius: 10px;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content h1 {
    text-align: center;
}

.link-options div {
    justify-content: center;
}