*, *::selection, html {
  --main-txt-clr: #4f0c28;
  --main-bg-clr: #c5d2f8;
  --hover-main-txt-clr: #36091c;
  --border: #f2f2f2;
  --form-bg-clr: #a0aac7;
  color: var(--main-txt-clr);
  background: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-clr);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

button, textarea, button:hover, button:focus {
  outline: none;
  border: none;
}

input {
  color: var(--border);
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  padding: .8rem .5rem;
  outline: none;
  border: 1px solid var(--border);
  border-radius: 7px;
}

textarea {
  min-height: 15rem;
  height: fit-content;
  resize: none;
  font-size: .9rem;
  line-height: 2;
  font-family: "Roboto", sans-serif;
  padding: .6rem .5rem;
  background-color: transparent;
  margin-top: .7rem;
  border: 1px solid var(--border);
  border-radius: 7px;
  color: var(--border);
}

button, label {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover, li:hover {
  color: #8b8676;
}

nav {
  width: 100%;
}

nav ul {
  border: 1px solid var(--main-txt-clr);
  display: flex;
  padding: .5rem 1rem;
  border-radius: 14px;
  align-items: center;
  justify-content: space-between;
}

nav ul div {
  display: flex;
  gap: 4rem;
  align-items: center;
  list-style-type: none;
}

nav ul li a span {
  font-size: 1rem;
  font-weight: 500;
}

footer {
  background-color: var(--main-txt-clr);
  padding: 1rem;
  display: flex;
  gap: .2rem;
  align-items: center;
  justify-content: center;
}

footer h1 {
  color: var(--main-bg-clr);
  font-size: 1.3rem;
}

footer h1 a {
  color: rgb(0, 81, 128);
  font-size: 1.3rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 25rem;
}

form div {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  width: 100%;
}

label {
  font-size: .9rem;
  font-weight: 500
}

form div p {
  font-size: .7rem;
  font-weight: 600;
}

.global-wrapper {
  position: relative;
  padding: 1.5rem 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  padding-top: 2.5rem;
}

.content-grid-index {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}

.posts-wrapper {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 2rem;
}

.main-content, .post, .post-user-info {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-direction: column-reverse;
  gap: 2rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--form-bg-clr);
  padding: 1rem;
  border: none;
  border-radius: 1rem;
}

.form-wrapper h2 {
  font-weight: 700;
}

.btn {
  font-size: 1rem;
  font-weight: 300;
  padding: .5rem;
  background-color: transparent;
  border: 1px solid var(--main-txt-clr);
  border-radius: 7px;
  transition: background-color .4s, color .4s;
  width: fit-content;
}

.btn:hover {
  background-color: var(--main-txt-clr);
  color: var(--main-bg-clr);
}

.form-btn, .tweet-btn {
  width: 100%;
  color: var(--main-bg-clr);
  background-color: var(--main-txt-clr);
  border: none;
  padding: .8rem;
}

.form-btn:hover {
  background-color: var(--hover-main-txt-clr);
}

.tweet-btn {
  color: #fff;
  background-color: #1593de;
}

.tweet-btn:hover {
  color: #fff;
  background-color: rgb(27, 162, 240);
}

.link-options {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.link-options div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .6rem;
}

.link-options div h3 {
  color: #000;
  font-size: .9rem;
}

.link-options div a {
  color: var(--main-txt-clr);
  font-size: .9rem;
  font-weight: 600;
}

.link-options div a:hover {
  color: var(--hover-main-txt-clr);
}

.height-fit-content-btn {
  height: fit-content;
}

.post {
  background-color: #2c1332;
  padding: 1.6rem;
  gap: 1.5rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 8px;
}

.post h2, .post h3, .post-user-info h5, .name-and-photo h4 {
  color: var(--main-bg-clr);
}

.pfp-wrapper {
  width: 2rem;
  height: 2rem;
  border-radius: 7px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.post-user-info {
  gap: .3rem;
}

.name-and-photo {
  display: flex; 
  align-items: center;
  gap: .7rem;
}

.post-body {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.edit-btns {
  display: flex;
  gap: 1rem;
}

.changed-style-btn {
  background-color: var(--main-txt-clr);
  color: var(--main-bg-clr);
}

.changed-style-btn:hover {
  background-color: #75123b;
}

#error-wrapper {
  position: fixed;
  top: 3%;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  opacity: 1;
  animation: disappear 5.1s ease-out;
}

#error-wrapper li {
  color: orange;
  font-weight: bold;
  list-style-type: none;
  background-color: #020618;
  padding: .6rem 1rem;
  border-radius: 5px;
  max-width: 30rem;
  width: fit-content;
}

@keyframes disappear {
  0% {
    visibility: visible;
    opacity: 1;
  }

  80% {
    visibility: visible;
    opacity: 1;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@media only screen and (max-width:  1407px) {
  .global-wrapper {
    padding: 1.5rem 2rem;
  }
}

@media only screen and (max-width:  1024px) {
  .content h1 {
    font-size: 1.3rem;
    font-weight: 600;
  }

  nav ul div {
    gap: 1rem;
  }

  nav ul div li a span {
    font-size: .9rem;
    font-weight: 600;
  }

  .content-grid-index {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .content-grid-index h1 {
    text-align: center;
  }
}

@media only screen and (max-width:  705px) {
  .posts-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
}