*, *::selection, html {
  --main-txt-clr: #4f0c28;
  --main-bg-clr: #c5d2f8;
  color: var(--main-txt-clr);
  background: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-clr);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

input, button, textarea, input:focus, button:hover, button:focus, textarea:hover, textarea:focus {
  outline: none;
  border: none;
}

input {
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  background-color: #ccc;
  padding: .8rem .5rem;
  border-radius: 12px;
}

textarea {
  width: stretch;
  min-height: 15rem;
  height: fit-content;
  resize: none;
  font-size: .9rem;
  line-height: 2;
  font-family: "Roboto", sans-serif;
  padding: .6rem .5rem;
  background-color: #fff;
  color: #000;
  margin-top: .7rem;
  border-radius: 7px;
}

button, label {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover, li:hover {
  color: #8b8676;
}

nav {
  width: 100%;
}

nav ul {
  border: 1px solid var(--main-txt-clr);
  display: flex;
  padding: .5rem 1rem;
  border-radius: 14px;
}

nav ul div {
  display: flex;
  gap: 4rem;
  align-items: center;
  list-style-type: none;
}

nav ul li a span {
  font-size: 1.3rem;
}

footer {
  background-color: var(--main-txt-clr);
  padding: 1rem;
  display: flex;
  gap: .2rem;
  align-items: center;
  justify-content: center;
}

footer h1 {
  color: var(--main-bg-clr);
  font-size: 1.3rem;
}

footer h1 a {
  color: rgb(0, 81, 128);
  font-size: 1.3rem;
}

.global-wrapper {
  position: relative;
  height: fit-content;
  padding: 1.5rem 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  padding-top: 2.5rem;
  border: 1px solid blue;
  width: fit-content;
}

.btn {
  font-size: 1rem;
  font-weight: 300;
  padding: .5rem;
  background-color: transparent;
  border: 1px solid var(--main-txt-clr);
  border-radius: 7px;
  transition: background-color .4s, color .4s;
  width: fit-content;
}

.btn:hover {
  background-color: var(--main-txt-clr);
  color: var(--main-bg-clr);
}

#error-wrapper {
  position: fixed;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  opacity: 1;
  animation: disappear 3.1s ease-out;
}

#error-wrapper li {
  color: orange;
  font-weight: bold;
  list-style-type: none;
  background-color: #020618;
  padding: .6rem 1rem;
  border-radius: 5px;
}

@keyframes disappear {
  0% {
    visibility: visible;
    opacity: 1;
  }

  80% {
    visibility: visible;
    opacity: 1;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}